# Project exclude paths
/chapter2/target/
/chapter4/target/
/chapter6/target/
/chapter7/target/
/chapter9/target/
/chapter10/target/
/chapter16/target/
/chapter17/target/
/chapter4/.classpath
/.idea/.gitignore
/chapter2/.idea/.gitignore
/chapter2/.settings/.jsdtscope
/chapter4/.myumldata
/chapter4/.project
/chapter10/.idea/dataSources/1d4ccf32-ad7e-4b29-bb9d-574960cc76b7.xml
/chapter3/chapter3.iml
/chapter4/chapter4.iml
/chapter3/.idea/checkstyle-idea.xml
/chapter3/.idea/codeStyles/codeStyleConfig.xml
/.idea/compiler.xml
/chapter2/.idea/compiler.xml
/chapter3/.idea/compiler.xml
/chapter4/.idea/compiler.xml
/chapter6/.idea/compiler.xml
/chapter7/.idea/compiler.xml
/chapter9/.idea/compiler.xml
/chapter10/.idea/compiler.xml
/chapter10/.idea/dataSources.local.xml
/chapter10/.idea/dataSources.xml
/.idea/jarRepositories.xml
/chapter2/.idea/jarRepositories.xml
/.idea/libraries/Maven__antlr_antlr_2_7_7.xml
/chapter10/.idea/libraries/Maven__antlr_antlr_2_7_7.xml
/.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
/chapter2/.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
/chapter3/.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
/chapter9/.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
/chapter10/.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
/.idea/libraries/Maven__cglib_cglib_nodep_2_2.xml
/chapter6/.idea/libraries/Maven__cglib_cglib_nodep_2_2.xml
/chapter7/.idea/libraries/Maven__cglib_cglib_nodep_2_2.xml
/.idea/libraries/Maven__commons_dbcp_commons_dbcp_1_4.xml
/chapter3/.idea/libraries/Maven__commons_dbcp_commons_dbcp_1_4.xml
/chapter4/.idea/libraries/Maven__commons_dbcp_commons_dbcp_1_4.xml
/chapter6/.idea/libraries/Maven__commons_dbcp_commons_dbcp_1_4.xml
/chapter7/.idea/libraries/Maven__commons_dbcp_commons_dbcp_1_4.xml
/chapter9/.idea/libraries/Maven__commons_dbcp_commons_dbcp_1_4.xml
/chapter10/.idea/libraries/Maven__commons_dbcp_commons_dbcp_1_4.xml
/.idea/libraries/Maven__commons_logging_commons_logging_1_0_4.xml
/chapter10/.idea/libraries/Maven__commons_logging_commons_logging_1_0_4.xml
/.idea/libraries/Maven__commons_logging_commons_logging_1_1_3.xml
/chapter2/.idea/libraries/Maven__commons_logging_commons_logging_1_1_3.xml
/chapter3/.idea/libraries/Maven__commons_logging_commons_logging_1_1_3.xml
/chapter9/.idea/libraries/Maven__commons_logging_commons_logging_1_1_3.xml
/.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
/chapter4/.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
/chapter6/.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
/chapter7/.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
/.idea/libraries/Maven__commons_pool_commons_pool_1_5_4.xml
/chapter3/.idea/libraries/Maven__commons_pool_commons_pool_1_5_4.xml
/chapter4/.idea/libraries/Maven__commons_pool_commons_pool_1_5_4.xml
/chapter6/.idea/libraries/Maven__commons_pool_commons_pool_1_5_4.xml
/chapter7/.idea/libraries/Maven__commons_pool_commons_pool_1_5_4.xml
/chapter9/.idea/libraries/Maven__commons_pool_commons_pool_1_5_4.xml
/chapter10/.idea/libraries/Maven__commons_pool_commons_pool_1_5_4.xml
/.idea/libraries/Maven__dom4j_dom4j_1_6_1.xml
/chapter10/.idea/libraries/Maven__dom4j_dom4j_1_6_1.xml
/.idea/libraries/Maven__javax_servlet_javax_servlet_api_3_0_1.xml
/chapter2/.idea/libraries/Maven__javax_servlet_javax_servlet_api_3_0_1.xml
/.idea/libraries/Maven__javax_servlet_servlet_api_2_5.xml
/chapter3/.idea/libraries/Maven__javax_servlet_servlet_api_2_5.xml
/chapter4/.idea/libraries/Maven__javax_servlet_servlet_api_2_5.xml
/chapter6/.idea/libraries/Maven__javax_servlet_servlet_api_2_5.xml
/chapter7/.idea/libraries/Maven__javax_servlet_servlet_api_2_5.xml
/.idea/libraries/Maven__junit_junit_4_11.xml
/chapter2/.idea/libraries/Maven__junit_junit_4_11.xml
/.idea/libraries/Maven__junit_junit_4_12.xml
/chapter3/.idea/libraries/Maven__junit_junit_4_12.xml
/chapter4/.idea/libraries/Maven__junit_junit_4_12.xml
/chapter6/.idea/libraries/Maven__junit_junit_4_12.xml
/chapter7/.idea/libraries/Maven__junit_junit_4_12.xml
/chapter9/.idea/libraries/Maven__junit_junit_4_12.xml
/chapter10/.idea/libraries/Maven__junit_junit_4_12.xml
/.idea/libraries/Maven__log4j_log4j_1_2_16.xml
/chapter3/.idea/libraries/Maven__log4j_log4j_1_2_16.xml
/chapter4/.idea/libraries/Maven__log4j_log4j_1_2_16.xml
/chapter6/.idea/libraries/Maven__log4j_log4j_1_2_16.xml
/chapter7/.idea/libraries/Maven__log4j_log4j_1_2_16.xml
/.idea/libraries/Maven__mysql_mysql_connector_java_5_1_30.xml
/chapter10/.idea/libraries/Maven__mysql_mysql_connector_java_5_1_30.xml
/.idea/libraries/Maven__org_apache_commons_commons_lang3_3_2_1.xml
/chapter3/.idea/libraries/Maven__org_apache_commons_commons_lang3_3_2_1.xml
/chapter4/.idea/libraries/Maven__org_apache_commons_commons_lang3_3_2_1.xml
/chapter6/.idea/libraries/Maven__org_apache_commons_commons_lang3_3_2_1.xml
/chapter7/.idea/libraries/Maven__org_apache_commons_commons_lang3_3_2_1.xml
/chapter9/.idea/libraries/Maven__org_apache_commons_commons_lang3_3_2_1.xml
/chapter10/.idea/libraries/Maven__org_apache_commons_commons_lang3_3_2_1.xml
/.idea/libraries/Maven__org_aspectj_aspectjlib_1_6_2.xml
/chapter7/.idea/libraries/Maven__org_aspectj_aspectjlib_1_6_2.xml
/.idea/libraries/Maven__org_aspectj_aspectjrt_1_9_1.xml
/chapter7/.idea/libraries/Maven__org_aspectj_aspectjrt_1_9_1.xml
/.idea/libraries/Maven__org_aspectj_aspectjtools_1_9_1.xml
/chapter7/.idea/libraries/Maven__org_aspectj_aspectjtools_1_9_1.xml
/.idea/libraries/Maven__org_aspectj_aspectjweaver_1_7_4.xml
/chapter10/.idea/libraries/Maven__org_aspectj_aspectjweaver_1_7_4.xml
/.idea/libraries/Maven__org_aspectj_aspectjweaver_1_9_1.xml
/chapter7/.idea/libraries/Maven__org_aspectj_aspectjweaver_1_9_1.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
/chapter2/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
/chapter3/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
/chapter4/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
/chapter6/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
/chapter7/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
/chapter9/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
/chapter10/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
/.idea/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_4_0_4_Final.xml
/chapter10/.idea/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_4_0_4_Final.xml
/.idea/libraries/Maven__org_hibernate_hibernate_core_4_3_2_Final.xml
/chapter10/.idea/libraries/Maven__org_hibernate_hibernate_core_4_3_2_Final.xml
/.idea/libraries/Maven__org_hibernate_javax_persistence_hibernate_jpa_2_1_api_1_0_0_Final.xml
/chapter10/.idea/libraries/Maven__org_hibernate_javax_persistence_hibernate_jpa_2_1_api_1_0_0_Final.xml
/.idea/libraries/Maven__org_javassist_javassist_3_18_1_GA.xml
/chapter10/.idea/libraries/Maven__org_javassist_javassist_3_18_1_GA.xml
/.idea/libraries/Maven__org_jboss_jandex_1_1_0_Final.xml
/chapter10/.idea/libraries/Maven__org_jboss_jandex_1_1_0_Final.xml
/.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_1_3_GA.xml
/chapter10/.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_1_3_GA.xml
/.idea/libraries/Maven__org_jboss_logging_jboss_logging_annotations_1_2_0_Beta1.xml
/chapter10/.idea/libraries/Maven__org_jboss_logging_jboss_logging_annotations_1_2_0_Beta1.xml
/.idea/libraries/Maven__org_jboss_spec_javax_transaction_jboss_transaction_api_1_2_spec_1_0_0_Final.xml
/chapter10/.idea/libraries/Maven__org_jboss_spec_javax_transaction_jboss_transaction_api_1_2_spec_1_0_0_Final.xml
/.idea/libraries/Maven__org_openjdk_jol_jol_core_0_9.xml
/.idea/libraries/Maven__org_springframework_spring_aop_3_2_18_RELEASE.xml
/chapter2/.idea/libraries/Maven__org_springframework_spring_aop_3_2_18_RELEASE.xml
/chapter3/.idea/libraries/Maven__org_springframework_spring_aop_3_2_18_RELEASE.xml
/chapter9/.idea/libraries/Maven__org_springframework_spring_aop_3_2_18_RELEASE.xml
/chapter10/.idea/libraries/Maven__org_springframework_spring_aop_3_2_18_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_aop_4_3_16_RELEASE.xml
/chapter4/.idea/libraries/Maven__org_springframework_spring_aop_4_3_16_RELEASE.xml
/chapter6/.idea/libraries/Maven__org_springframework_spring_aop_4_3_16_RELEASE.xml
/chapter7/.idea/libraries/Maven__org_springframework_spring_aop_4_3_16_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_beans_3_2_18_RELEASE.xml
/chapter2/.idea/libraries/Maven__org_springframework_spring_beans_3_2_18_RELEASE.xml
/chapter3/.idea/libraries/Maven__org_springframework_spring_beans_3_2_18_RELEASE.xml
/chapter9/.idea/libraries/Maven__org_springframework_spring_beans_3_2_18_RELEASE.xml
/chapter10/.idea/libraries/Maven__org_springframework_spring_beans_3_2_18_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_beans_4_3_16_RELEASE.xml
/chapter4/.idea/libraries/Maven__org_springframework_spring_beans_4_3_16_RELEASE.xml
/chapter6/.idea/libraries/Maven__org_springframework_spring_beans_4_3_16_RELEASE.xml
/chapter7/.idea/libraries/Maven__org_springframework_spring_beans_4_3_16_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_context_3_2_18_RELEASE.xml
/chapter2/.idea/libraries/Maven__org_springframework_spring_context_3_2_18_RELEASE.xml
/chapter3/.idea/libraries/Maven__org_springframework_spring_context_3_2_18_RELEASE.xml
/chapter9/.idea/libraries/Maven__org_springframework_spring_context_3_2_18_RELEASE.xml
/chapter10/.idea/libraries/Maven__org_springframework_spring_context_3_2_18_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_context_4_3_16_RELEASE.xml
/chapter4/.idea/libraries/Maven__org_springframework_spring_context_4_3_16_RELEASE.xml
/chapter6/.idea/libraries/Maven__org_springframework_spring_context_4_3_16_RELEASE.xml
/chapter7/.idea/libraries/Maven__org_springframework_spring_context_4_3_16_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_context_support_3_2_18_RELEASE.xml
/chapter2/.idea/libraries/Maven__org_springframework_spring_context_support_3_2_18_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_core_3_2_18_RELEASE.xml
/chapter2/.idea/libraries/Maven__org_springframework_spring_core_3_2_18_RELEASE.xml
/chapter3/.idea/libraries/Maven__org_springframework_spring_core_3_2_18_RELEASE.xml
/chapter9/.idea/libraries/Maven__org_springframework_spring_core_3_2_18_RELEASE.xml
/chapter10/.idea/libraries/Maven__org_springframework_spring_core_3_2_18_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_core_4_3_16_RELEASE.xml
/chapter4/.idea/libraries/Maven__org_springframework_spring_core_4_3_16_RELEASE.xml
/chapter6/.idea/libraries/Maven__org_springframework_spring_core_4_3_16_RELEASE.xml
/chapter7/.idea/libraries/Maven__org_springframework_spring_core_4_3_16_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_dao_1_2_9.xml
/chapter10/.idea/libraries/Maven__org_springframework_spring_dao_1_2_9.xml
/.idea/libraries/Maven__org_springframework_spring_expression_3_2_18_RELEASE.xml
/chapter2/.idea/libraries/Maven__org_springframework_spring_expression_3_2_18_RELEASE.xml
/chapter3/.idea/libraries/Maven__org_springframework_spring_expression_3_2_18_RELEASE.xml
/chapter9/.idea/libraries/Maven__org_springframework_spring_expression_3_2_18_RELEASE.xml
/chapter10/.idea/libraries/Maven__org_springframework_spring_expression_3_2_18_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_expression_4_3_16_RELEASE.xml
/chapter4/.idea/libraries/Maven__org_springframework_spring_expression_4_3_16_RELEASE.xml
/chapter6/.idea/libraries/Maven__org_springframework_spring_expression_4_3_16_RELEASE.xml
/chapter7/.idea/libraries/Maven__org_springframework_spring_expression_4_3_16_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_hibernate_1_2_9.xml
/chapter10/.idea/libraries/Maven__org_springframework_spring_hibernate_1_2_9.xml
/.idea/libraries/Maven__org_springframework_spring_instrument_4_3_16_RELEASE.xml
/chapter7/.idea/libraries/Maven__org_springframework_spring_instrument_4_3_16_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_jdbc_3_2_18_RELEASE.xml
/chapter2/.idea/libraries/Maven__org_springframework_spring_jdbc_3_2_18_RELEASE.xml
/chapter3/.idea/libraries/Maven__org_springframework_spring_jdbc_3_2_18_RELEASE.xml
/chapter9/.idea/libraries/Maven__org_springframework_spring_jdbc_3_2_18_RELEASE.xml
/chapter10/.idea/libraries/Maven__org_springframework_spring_jdbc_3_2_18_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_jdbc_4_3_16_RELEASE.xml
/chapter4/.idea/libraries/Maven__org_springframework_spring_jdbc_4_3_16_RELEASE.xml
/chapter6/.idea/libraries/Maven__org_springframework_spring_jdbc_4_3_16_RELEASE.xml
/chapter7/.idea/libraries/Maven__org_springframework_spring_jdbc_4_3_16_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_orm_1_2_9.xml
/chapter10/.idea/libraries/Maven__org_springframework_spring_orm_1_2_9.xml
/.idea/libraries/Maven__org_springframework_spring_oxm_3_2_18_RELEASE.xml
/chapter2/.idea/libraries/Maven__org_springframework_spring_oxm_3_2_18_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_test_3_2_18_RELEASE.xml
/chapter2/.idea/libraries/Maven__org_springframework_spring_test_3_2_18_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_test_4_3_16_RELEASE.xml
/chapter4/.idea/libraries/Maven__org_springframework_spring_test_4_3_16_RELEASE.xml
/chapter6/.idea/libraries/Maven__org_springframework_spring_test_4_3_16_RELEASE.xml
/chapter7/.idea/libraries/Maven__org_springframework_spring_test_4_3_16_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_tx_3_2_18_RELEASE.xml
/chapter2/.idea/libraries/Maven__org_springframework_spring_tx_3_2_18_RELEASE.xml
/chapter3/.idea/libraries/Maven__org_springframework_spring_tx_3_2_18_RELEASE.xml
/chapter9/.idea/libraries/Maven__org_springframework_spring_tx_3_2_18_RELEASE.xml
/chapter10/.idea/libraries/Maven__org_springframework_spring_tx_3_2_18_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_tx_4_3_16_RELEASE.xml
/chapter4/.idea/libraries/Maven__org_springframework_spring_tx_4_3_16_RELEASE.xml
/chapter6/.idea/libraries/Maven__org_springframework_spring_tx_4_3_16_RELEASE.xml
/chapter7/.idea/libraries/Maven__org_springframework_spring_tx_4_3_16_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_web_3_2_18_RELEASE.xml
/chapter2/.idea/libraries/Maven__org_springframework_spring_web_3_2_18_RELEASE.xml
/chapter3/.idea/libraries/Maven__org_springframework_spring_web_3_2_18_RELEASE.xml
/chapter10/.idea/libraries/Maven__org_springframework_spring_web_3_2_18_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_web_4_3_16_RELEASE.xml
/chapter4/.idea/libraries/Maven__org_springframework_spring_web_4_3_16_RELEASE.xml
/chapter6/.idea/libraries/Maven__org_springframework_spring_web_4_3_16_RELEASE.xml
/chapter7/.idea/libraries/Maven__org_springframework_spring_web_4_3_16_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_webmvc_3_2_18_RELEASE.xml
/chapter2/.idea/libraries/Maven__org_springframework_spring_webmvc_3_2_18_RELEASE.xml
/chapter3/.idea/libraries/Maven__org_springframework_spring_webmvc_3_2_18_RELEASE.xml
/chapter10/.idea/libraries/Maven__org_springframework_spring_webmvc_3_2_18_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_webmvc_4_3_16_RELEASE.xml
/chapter4/.idea/libraries/Maven__org_springframework_spring_webmvc_4_3_16_RELEASE.xml
/chapter6/.idea/libraries/Maven__org_springframework_spring_webmvc_4_3_16_RELEASE.xml
/chapter7/.idea/libraries/Maven__org_springframework_spring_webmvc_4_3_16_RELEASE.xml
/.idea/libraries/Maven__xml_apis_xml_apis_1_0_b2.xml
/chapter10/.idea/libraries/Maven__xml_apis_xml_apis_1_0_b2.xml
/.idea/misc.xml
/chapter2/.idea/misc.xml
/chapter3/.idea/misc.xml
/chapter4/.idea/misc.xml
/chapter6/.idea/misc.xml
/chapter7/.idea/misc.xml
/chapter9/.idea/misc.xml
/chapter10/.idea/misc.xml
/.idea/modules.xml
/chapter2/.idea/modules.xml
/chapter3/.idea/modules.xml
/chapter4/.idea/modules.xml
/chapter6/.idea/modules.xml
/chapter7/.idea/modules.xml
/chapter9/.idea/modules.xml
/chapter10/.idea/modules.xml
/chapter2/.settings/org.eclipse.wst.jsdt.ui.superType.container
/chapter2/.settings/org.eclipse.wst.jsdt.ui.superType.name
/chapter3/.idea/codeStyles/Project.xml
/.idea/inspectionProfiles/Project_Default.xml
/chapter3/.idea/inspectionProfiles/Project_Default.xml
/chapter4/.idea/inspectionProfiles/Project_Default.xml
/chapter6/.idea/inspectionProfiles/Project_Default.xml
/chapter7/.idea/inspectionProfiles/Project_Default.xml
/chapter9/.idea/inspectionProfiles/Project_Default.xml
/chapter10/.idea/inspectionProfiles/Project_Default.xml
/.idea/Spring3.x.iml
/.idea/uiDesigner.xml
/chapter9/.idea/uiDesigner.xml
/.idea/vcs.xml
/chapter3/.idea/workspace.xml
/chapter4/.idea/workspace.xml
/chapter6/.idea/workspace.xml
/chapter7/.idea/workspace.xml
/chapter9/.idea/workspace.xml
/chapter10/.idea/workspace.xml
